.confirm-dialog-content.mat-dialog-content {
  min-height: 60px;
  padding-top: 6px;
}

h2 {
  margin-bottom: 4px;
}
.body {
  margin-top: 24px;
}

.mat-flat-button {
  background-color: rgba(218, 83, 16, 1);
}
