<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="images filler"></div>

  <div class="forms-area" fxFlex="35" fxLayout="column">

    <div class="title" fxLayout="row" fxLayoutAlign="left center">
      <img src="/assets/images/calculator.png" alt="logo"/>
      <div>
        <h1>Simple Split</h1>
        <p>Εύκολη διαχείριση εξόδων...</p>
      </div>
    </div>

    <div class="form-wrapper">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="logIn()" autocomplete="off" spellcheck="false">
        <mat-form-field class="full-width">
          <input matInput placeholder="Ονομα χρήστη" [formControlName]="'userName'" autofocus>
          <mat-error *ngIf="userName.errors?.['required'] && userName.dirty">
            Το όνομα χρήστη είναι υποχρεωτικό
          </mat-error>
          <mat-error *ngIf="userName.errors?.['minlength'] && userName.dirty">
            Το όνομα χρήστη πρέπει να είναι παραπάνω από 5 χαρακτήρες
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Κωδικός" [formControlName]="'password'">
          <div matSuffix>
            <i *ngIf="hide" class="far fa-eye fa-fw" (click)="hide = !hide"></i>
            <i *ngIf="!hide" class="far fa-eye-slash fa-fw" (click)="hide = !hide"></i>
          </div>
          <mat-error *ngIf="password.errors?.['required'] && password.touched">
            Ο κωδικός χρήστη είναι υποχρεωτικός
          </mat-error>
        </mat-form-field>
        <div class="buttons">
          <button mat-flat-button
                  color="warn"
                  class="mat-simple"
                  [disabled]="!loginForm.valid"
                  [loading]="loading">
            <i class="button-icon fas fa-sign-in-alt"></i>
            Σύνδεση
          </button>
        </div>
      </form>

    </div>

    <div class="filler"></div>
    <div id="copyright">Copyright © 2022 GbWorks</div>
  </div>
</div>
