.login-wrapper {
  background-color: grey;
  height: 100%;

  background-image: url('/assets/images/login_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.safe {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);

  background: #7d7e7d;
  background: -moz-linear-gradient(left,  #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-linear-gradient(left,  #7d7e7d 0%,#0e0e0e 100%);
  background: linear-gradient(to right,  #7d7e7d 0%,#0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
}

.login-wrapper .login-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .login-full-width {
  width: 100%;
}

.login-wrapper mat-card-header {
  margin-bottom: 32px;
  align-items: center;
}

.login-wrapper mat-card-header mat-card-title {
  font-weight: 700 !important;
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 30px 40px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 14px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 300px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.header-image {
  background-image: url('/assets/images/calculator.png');
  background-size: cover;
  border-radius: 6px;
}
