.login-wrapper {
  background-color: grey;
  height: 100%;
}

.images {
  background-image: url('/assets/images/split_cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
}

img {
  width: 76px;
  height: 76px;
}

.forms-area {
  height: 100%;
  background-color: whitesmoke;
  padding: 40px 22px 6px;
}

.title {
  h1 {
  }

  p {
    font-style: italic;
  }

  h1, p {
    margin: 0;
    padding-left: 24px;
  }
}

.form-wrapper {
  margin-top: 128px;
  padding: 8px;
}

.buttons {
  padding-top: 24px;
  float: right;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

#copyright {
  font-size: 0.86em;
  font-weight: bold;
  margin: 0;
  color: #454545;
  text-align: center;
}
