table {
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding: 0 12px;
}

th.mat-header-cell {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.78);
}

.hover-link:hover {
  cursor: pointer;
  color: blue;
}

.kind {
  width:260px;
  max-width: 260px;
}
