<table mat-table [dataSource]="rows" [hidden]="!rows.length">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Α/Α</th>
    <td mat-cell *matCellDef="let element" class='link' (click)="onCellClicked(element)">
      {{element.id}}
    </td>
  </ng-container>

  <!-- Description -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Περιγραφή</th>
    <td mat-cell *matCellDef="let element" class='hover-link'
        (click)="onCellClicked(element)"> {{element.description}} </td>
  </ng-container>

  <!-- Kind -->
  <ng-container matColumnDef="kind">
    <th mat-header-cell *matHeaderCellDef> Ομάδα Εξόδων</th>
    <td mat-cell *matCellDef="let element" class="kind"> {{displayValue(element.kind)}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>

</table>
