<div class="wrapper">
  <div class="title" fxLayout="row" fxLayoutAlign="center center">
    <h2>Στοιχεία Εξόδου </h2>
    <div class="filler"></div>
    <i class="far fa-times-circle fa-fw" (click)="onExit()"></i>
  </div>
  <mat-divider></mat-divider>

  <form #f="ngForm"
        class="expense-editor"
        fxLayout="column"
        [formGroup]="expenseEditor">

    <mat-form-field class="full-width">
      <mat-label>Περιγραφή</mat-label>
      <input matInput placeholder="Περιγραφή" formControlName="description">
      <mat-error *ngIf="isInvalid('description')">
        Το πεδίο είναι απαραίτητο!
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex class="full-width">
      <mat-label>Κατηγορία</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let ctg of categories$ | async" [value]="ctg">{{ctg}}</mat-option>
      </mat-select>
      <i matSuffix class="fas fa-times-circle fa-fw icon-button" (click)="onClearCategory($event)"></i>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="8px">
      <mat-form-field fxFlex class="full-width">
        <mat-label>Καταχώρηση</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="enteredAt" autocomplete="off">
        <mat-error *ngIf="isInvalid('entryDate')">
          Το πεδίο είναι απαραίτητο!
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon
                    fontSet="far"
                    fontIcon="fa-calendar"
                    class="fa-fw"></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex class="full-width">
        <mat-label>Αξία</mat-label>
        <span matSuffix>€</span>
        <input matInput
               class="align-right"
               type="number"
               onfocusout="this.amount= Number(this.amount)"
               placeholder="Αξία"
               formControlName="amount"
               autocomplete="off">
        <mat-error *ngIf="isInvalid('amount')">
          Η αξία πρέπει να είναι μεγαλύτερη από 0!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="full-width for-owner">
      <mat-checkbox color="primary" formControlName="isOwnerCharge">Επιβάρυνση ιδιοκτήτη</mat-checkbox>
    </div>

    <mat-divider id="actions"></mat-divider>
    <div class="actions" fxLayout="row" fxLayoutGap="12px">
      <button *ngIf="allowDelete" mat-stroked-button color="warn" (click)="onDelete()">Διαγραφή</button>
      <div class="filler"></div>
      <button mat-flat-button
              color="accent"
              class="mat-simple"
              smp-base-button
              (click)="onSave()"
              [disabled]="!f.valid"
              [loading]="working">
        <i class="fas fa-check"></i>
        &nbsp;&nbsp;
        Αποθήκευση
      </button>
      <button mat-stroked-button (click)="onExit()">Ακύρωση</button>
    </div>
  </form>
</div>
