
#main-content {
  padding: 8px 24px 0;
  min-height: 64px;
}

h2 {
  margin: 24px 0 16px;
  font-weight: bold;
}
.body {
  margin-bottom: 24px;
}

mat-dialog-actions {
  padding: 6px 16px;
}

.alert {
  color: darkred;
}

.warning {
  color: darkorange;
}

.information {
  color: cornflowerblue;
}
