.wrapper {
  padding: 24px 12px 8px;
}

.page-item {
  padding: 4px 6px;
}

.page-link {
  cursor: pointer;
}

.active {
  background-color: orange;
  border-radius: 6px;
  font-weight: bold;
}

.links {
  border-left: 1px solid darkgray;
  padding-left: 12px;
  margin-left: 8px;
}
