<mat-sidenav-container hasBackdrop="true" class="component-container">

  <mat-sidenav-content>
    <div class="full-height" fxLayout="column">
      <smp-list-header title="Λίστα Εξόδων"
                       (newClicked)="onNew()"
                       (refreshClicked)="onRefresh()">
      </smp-list-header>
      <ng-container *ngIf="state$ | async as state">
        <div class="info" *ngIf="state.callState === CallStates.Finished || state.callState === CallStates.NoData"
             fxLayout="row">
          <form id="search-box" [formGroup]="searchForm">
            <i class="fas fa-search fa-fw search-icon"></i>
            <input #search id="search" type="text" formControlName="searchValue" placeholder="Αναζήτηση με περιγραφή">
            <i *ngIf="!!search.value" class="fas fa-times fa-fw clear" (click)="clearSearch()"></i>
            <i class="fas fa-sliders-h fa-fw advanced"></i>
          </form>
          <div class="filler"></div>
          <div> {{dataInfo(state.result)}}</div>
        </div>

        <div class="auto-overflow-y" fxFlex>
          <smp-expenses-table [data]="{rows: state.result.rows, sort: currentParams.sort}"
                              (sortChanged)="onSortChanged($event)"
                              (expenseClicked)="onExpenseClick($event)">
          </smp-expenses-table>

          <smp-paginator *ngIf="state.callState === CallStates.Finished"
                         [sizes]="[5, 10, 20]"
                         [pageSize]="state.result.pageSize"
                         [currentPage]="state.result.currentPage"
                         [totalPages]="state.result.totalPages"
                         (changes)="onPaginatorChanges($event)"></smp-paginator>

          <smp-loading *ngIf="state.callState === CallStates.Pending"></smp-loading>
          <smp-no-data *ngIf="state.callState === CallStates.NoData"></smp-no-data>
          <smp-server-error *ngIf="state.callState === CallStates.Failed"
                            [errorMessage]="state.errorMessage">
          </smp-server-error>
        </div>
      </ng-container>

    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport disableClose>
    <div class="sidenav-view" #sidenavView></div>
  </mat-sidenav>

</mat-sidenav-container>
