<mat-sidenav-container hasBackdrop="true" class="component-container">

  <mat-sidenav-content>
    <div class="full-height" fxLayout="column">
      <smp-list-header title="Κατηγορίες Εξόδων"
                       (newClicked)="onNew()"
                       (refreshClicked)="onRefresh()">
      </smp-list-header>

      <ng-container *ngIf="categories$ | async as data">
        <smp-categories-table [data]="data" (categoryClicked)="onCategoryClicked($event)"></smp-categories-table>
        <smp-no-data *ngIf="data?.length === 0  && !errorMessage"></smp-no-data>
        <smp-server-error [errorMessage]="errorMessage" *ngIf="errorMessage"></smp-server-error>
      </ng-container>
    </div>

  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport disableClose>
    <div class="sidenav-view" #sidenavView></div>
  </mat-sidenav>

</mat-sidenav-container>

