<div class="wrapper">
  <div class="title" fxLayout="row" fxLayoutAlign="center center">
    <h2>Στοιχεία Κατηγορίας Εξόδων </h2>
    <div class="filler"></div>
    <i class="far fa-times-circle fa-fw" (click)="onExit()"></i>
  </div>
  <mat-divider></mat-divider>

  <form #f="ngForm"
        class="category-editor"
        fxLayout="column"
        [formGroup]="categoryEditor">

    <mat-form-field class="full-width">
      <mat-label>Περιγραφή</mat-label>
      <input matInput placeholder="Περιγραφή" formControlName="description">
      <mat-error *ngIf="isInvalid('description')">
        Το πεδίο είναι απαραίτητο!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Ομάδα Εξόδων</mat-label>
      <mat-select formControlName="kind">
        <mat-option [value]="1">Θέρμανση</mat-option>
        <mat-option [value]="2">Ανελκυστήρας</mat-option>
        <mat-option [value]="3">Λοιπά</mat-option>
      </mat-select>
      <mat-error *ngIf="isInvalid('kind')">
        Επιλέξτε τιμή για το πεδίο!
      </mat-error>
    </mat-form-field>

    <mat-divider id="actions"></mat-divider>
    <div class="actions" fxLayout="row" fxLayoutGap="12px">
      <button *ngIf="allowDelete" mat-stroked-button color="warn" (click)="onDelete()">Διαγραφή</button>
      <div class="filler"></div>
      <button mat-flat-button color="simple" smp-base-button (click)="onSave()" [disabled]="!f.valid">
        <i class="fas fa-check"></i>
        &nbsp;&nbsp;
        Αποθήκευση
      </button>
      <button mat-stroked-button (click)="onExit()">Ακύρωση</button>
    </div>
  </form>

</div>
