<mat-sidenav-container hasBackdrop="true" class="component-container">

  <mat-sidenav-content>
    <div class="full-height" fxLayout="column">
      <smp-list-header title="Λίστα Εξόδων"
                       (newClicked)="onNew()"
                       (searchClicked)="onSearch()">
      </smp-list-header>
      <ng-container *ngIf="expenses$ | async as data">

        <div class="info" *ngIf="!loading && !errorMessage" fxLayout="row">
          <div> {{dataInfo(data)}}</div>
          <div class="filler"></div>
        </div>

        <div class="auto-overflow-y" fxFlex>
          <smp-expenses-table [data]="data.rows" (expenseClicked)="onExpenseClick($event)"></smp-expenses-table>
          <smp-paginator *ngIf="data.rows?.length !== 0"
                         [sizes]="[5, 10, 20]"
                         [pageSize]="data.pageSize"
                         [currentPage]="data.currentPage"
                         [totalPages]="data.totalPages"
                         (changes)="onPaginatorChanges($event)"></smp-paginator>

          <smp-loading *ngIf="loading"></smp-loading>
          <smp-no-data *ngIf="!loading && data.rows?.length === 0"></smp-no-data>

          <div *ngIf="!loading && errorMessage">
            <p>Error while retrieving data</p>
            <p>{{errorMessage}}</p>
          </div>

        </div>
      </ng-container>

    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport>
    <p>Editor form</p>
  </mat-sidenav>

</mat-sidenav-container>
