<mat-sidenav-container hasBackdrop="true" class="component-container">

  <mat-sidenav-content>
    <div class="full-height" fxLayout="column">
      <smp-list-header title="Λίστα Εξόδων"
                       (newClicked)="onNew()"
                       (refreshClicked)="onRefresh()">
      </smp-list-header>
      <ng-container *ngIf="expenses$ | async as data">

        <div class="info" *ngIf="!loading && !errorMessage" fxLayout="row">
          <!--<div>Αναζήτηση <input type="text"></div>-->
          <div class="filler"></div>
          <div> {{dataInfo(data)}}</div>
        </div>

        <div class="auto-overflow-y" fxFlex>
          <smp-expenses-table [data]="{rows: data.rows, sort: currentParams.sort}"
                              (sortChanged)="onSortChanged($event)"
                              (expenseClicked)="onExpenseClick($event)">

          </smp-expenses-table>
          <smp-paginator *ngIf="data.rows?.length !== 0"
                         [sizes]="[5, 10, 20]"
                         [pageSize]="data.pageSize"
                         [currentPage]="data.currentPage"
                         [totalPages]="data.totalPages"
                         (changes)="onPaginatorChanges($event)"></smp-paginator>

          <smp-loading *ngIf="loading"></smp-loading>
          <smp-no-data *ngIf="!loading && data.rows?.length === 0"></smp-no-data>

          <div *ngIf="!loading && errorMessage">
            <p>Error while retrieving data</p>
            <p>{{errorMessage}}</p>
          </div>

        </div>
      </ng-container>

    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport disableClose>
    <div class="sidenav-view" #sidenavView></div>
  </mat-sidenav>

</mat-sidenav-container>
