:host {
  height: 100vh;
}
.wrapper {
  height: 100vh;
}

h1 {
  padding: 8px 12px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-title {
  padding: 12px 2px;
  margin: 8px 12px 18px;
}

li {
  padding: 12px;

  // TODO is it better without margin
  margin: 8px;
  border-radius: 6px;
  color: gray;
  cursor: pointer;
}

.label {
  padding: 4px 0;
}

.menu-label {
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
}

.active-menu {
  color: #fff;
  background: rgb(233, 119, 81);
  background: linear-gradient(133deg, rgba(233, 119, 81, 1) 24%, rgba(218, 83, 16, 1) 87%);
}

.mat-divider {
  border-top-color: rgba(128, 128, 128, 0.65);
}

.build-info {
  text-align: center;
}

img {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

img:hover {
  opacity: 1.0;
}

#copyright {
  font-size: 0.84em;
  margin: 0;
  color: white;
}

#version {
  font-size: 0.78em;
  margin-bottom: 4px;
  color: gray;
}
