<div class="wrapper" fxLayout="column">

  <h1>Simple Split</h1>
  <ul>
    <mat-divider></mat-divider>
    <div class="menu-title"> Μενού</div>

    <li *ngFor="let menuItem of menuItems"
        routerLinkActive="active-menu"
        [routerLink]="menuItem.route">
      <div class="menu-item" fxLayout="row" fxFlexAlign="center center" fxLayoutGap="18px">
        <div>
          <i class="fas fa-2x fa-fw" [class]="menuItem.icon"></i>
        </div>

        <div class="menu-label">
          {{menuItem.name}}
        </div>

      </div>
    </li>
  </ul>
  <div class="filler"></div>
  <div class="build-info">
    <img src="assets/images/calculator.png" alt="Logo" width="48px" />
    <p id="copyright">Copyright © 2022 GbWorks</p>
    <small>{{gitVersion.revision}}</small>
  </div>

</div>
