mat-sidenav {
  width: 260px;
  color: lightgrey;
  margin: 0;
  padding: 0;


  // https://www.css-gradient.com/
  background: #010101;
  background: -webkit-linear-gradient(bottom left, #010101, #37332F);
  background: -moz-linear-gradient(bottom left, #010101, #37332F);
  background: linear-gradient(to top right, #010101, #37332F);
}
.mat-drawer.mat-drawer-side {
  // Set z-index to 1 to overcome some problems with multiple side-navs
  z-index: 1;
}

.mat-sidenav-content {
  background-color: RGB(220, 220, 220);
}

#main-content {
  display: flex;
  overflow-y: auto;
}

