mat-sidenav {
  width: 230px;
  background-color: rgb(64, 64, 64);
  color: lightgrey;
  padding: 16px;
  padding-top: 8px;
}

.mat-sidenav-content {
  background-color: RGB(220, 220, 220);
}

#main-content {
  margin: 10px;
  padding: 16px;
  border-radius: 10px;
  background-color: RGB(245, 245, 245);
}
