mat-sidenav {
  width: 220px;
  background-color: rgb(64, 64, 64);
  color: lightgrey;
  margin: 0;
  padding: 0;
}
.mat-drawer.mat-drawer-side {
  z-index: 1; // TODO Is this safe?
}

.mat-sidenav-content {
  background-color: RGB(220, 220, 220);
}

#main-content {
  display: flex;
  overflow-y: auto;
}

