.header {
  padding: 12px 0;
  margin: 12px;
  border-bottom: lightgray 2px solid;
}

.title {
  font-weight: bold;
  font-size: 1.6em;
}

button {
  border-radius: 8px;
}

.mat-flat-button {
  background-color: rgba(218, 83, 16, 1);
  // TODO Decide on a dark orange, GLOBALLY on app
  //darkorange;
}
