:host {
  width: 100%;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 28px;
}

.mat-card {
  max-width: 650px;
}

.header-image {
  background-image: url('^/assets/images/calculator.png');
  background-size: cover;
  border-radius: 6px;
}

.cover {
  object-fit: cover;
  height: 440px;
}
