<div class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Simple Split</mat-card-title>
      <mat-card-subtitle>Διαχείριση εξόδων πολυκατοικίας</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/simple_split.jpg" alt="Simple Split">
    <mat-card-content>
      <p>
        Η εφαρμογή <strong>Simple Split</strong> βοηθάει στην καταχώριση και την διαχείριση εξόδων μιας πολυκατοικίας,
        με απλό και εύκολο τρόπο!
      </p>
    </mat-card-content>
  </mat-card>
</div>
