.avatar {
  margin: 20px 0;
  border-radius: 50%;
  width: 134px;
  height: 134px;
  border: 2px solid darkgray;
  z-index: 4;
}

.avatar-control {
  margin-top: 6px;
}

.text {
  width: 90px;
  display: inline-block;
}

.details {
  padding: 24px 12px;
}

.avatar-form {
  // border-right: 1px solid darkgray;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

#pending {
  padding-right: 2px;
}

.email-error {
  color: #f44336;
  font-size: 75%;
  margin:-16px 0 2px;
}
