<h2 mat-dialog-title>Αλλαγή Κωδικού Χρήστη</h2>
<mat-divider></mat-divider>

<div mat-dialog-content style="padding-top: 24px">
  <form class="full-width" [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Τρέχων Κωδικός"
             [formControlName]="'oldPassword'">
      <div matSuffix>
        <i *ngIf="hide" class="far fa-eye fa-fw" (click)="hide = !hide"></i>
        <i *ngIf="!hide" class="far fa-eye-slash fa-fw" (click)="hide = !hide"></i>
      </div>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type='password' placeholder="Καινούργιος Κωδικός" [formControlName]="'newPassword'">
      <mat-error *ngIf="!form.controls['newPassword'].valid">Ο καινούργιος κωδικός είναι λάθος!</mat-error>
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions align="end" style="padding-top: 12px">
  <button mat-button smp-base-button (click)="onConfirm()" [disabled]="!form.valid">Επιβεβαίωση</button>
  <button mat-button mat-stroked-button (click)="onCancel()">Ακύρωση</button>
</mat-dialog-actions>
